<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.freddyswift.ampestra.macos</string>
	<key>CFBundleName</key>
	<string>Ampestra</string>
	<key>CFBundleDisplayName</key>
	<string>Ampestra</string>
	<key>CFBundleExecutable</key>
	<string>Ampestra</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Ampestra uses your local network to find and control compatible KEF speakers.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_raop._tcp</string>
	</array>
</dict>
</plist>
